/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin:0;
}

button:not([disabled]) {
  cursor:pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson;
}





/********************/
/* ALGEMENE STYLING */
/********************/

body {
  width: 100vw;
  height: 100vh;
  background-color:#FF86DB;
  /* background-image: url("../images/images\ 2.jpeg");  */
  background-size: cover;
  
  background-image: repeating-linear-gradient(to right, pink 0% 3%, #F9629F 3% 6%);
  
  /* andere achtergrond-eigenschappen */
  perspective: 30em;
}

body::before {
  content:"";
  position: fixed;
  inset:60% 0 0 0;

  background-image: repeating-linear-gradient(to right, pink 0% 3%, #F9629F 3% 6%);
  transform-origin: top;
  transform: rotateX(30deg);
} 

header {
  text-align: center;
}


header img {
  width: 10%;
  height: 10%;
}
h1 {
  color:white;
  text-align: center;
  font-size: 95%;
}

p {
  text-align: center;
}


 

main {
  position: relative;
  z-index: 100;
  
} 



.barbie:hover {
  filter: brightness(110%);
}
.barbie {
  transition: filter 0.3s ease-in-out;
}

.barbie:hover {
  filter: brightness(150%);
}



 /* Code door Daniëlle geschreven */
.barbie {
  position: fixed;
  width: 6em;
  height: 6em;
  padding: 0;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);

}




ol {
  list-style: none;
  padding: 0;
  margin:0;
  display:grid;
  grid-template-columns:6em 8em 8em 6em;
  grid-template-rows: 3.5em 4em 1.5em 6em;
  gap:.5em;
  background-image: url("../images/barbie-huis.svg");
  background-size: cover;
  width: 30.5em;
  height: 22.12611em;
  padding: .5em;
  place-content: end;
  margin:0 auto;
  
  position: fixed;
  left:50%;
  top:50%;
  translate: -50% -50%;
}

li {
  /* background-color: pink; */
    /* de li als grid ouder van de img */
    display:grid;
    justify-items: center;
    align-items:end;
    padding:.25em;
}

li :hover {
  filter: brightness(110%);
}
li:nth-of-type(1) {
  /* de li als grid kind van de ol */
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
  
  background-image:
    url("../images/kamer\ 2.webp"),
    linear-gradient(
      rgb(255 255 255 / 0), 
      rgb(255 255 255 / .7)
    );
  background-size: cover;
  background-position: center;

  background-blend-mode: screen;
  
}

li img {
  height: 4em;
  filter: drop-shadow(0 0 .25em black);
}

li:nth-of-type(2) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;

  background-image: 
  url("../images/kamer\ barbie\ huis.webp"),
  linear-gradient(
    rgb(255 255 255 / 0), 
    rgb(255 255 255 / .7)
  );
  
  background-size: cover;
  background-position: center;

  background-blend-mode:screen; 
}

li:nth-of-type(3) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;

  background-image: 
  url("../images/kamer\ 3.jpg"),
  linear-gradient(
    rgb(255 255 255 / 0), 
    rgb(255 255 255 / .7)
  );
  background-size: cover;
  background-position: center;

  background-blend-mode: screen;
}

li:nth-of-type(4) {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;

  background-image: 
url("../images/kamer\ 10.jpg"),
linear-gradient(
  rgb(255 255 255 / 0), 
  rgb(255 255 255 / .7)
);
background-size: cover;
background-position: center;

background-blend-mode: screen;

}

li:nth-of-type(5) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;

  background-image: 
  url(../images/kamer\ 7.jpg),
  linear-gradient(
    rgb(255 255 255 / 0), 
    rgb(255 255 255 / .7)
  );
background-size: cover;
background-position: center;

background-blend-mode: screen;

}

li:nth-of-type(6) {
  grid-column-start: 4;
  grid-column-end:5;
  grid-row-start: 2;
  grid-row-end: 4;

  background-image: 
  url(../images/kamer\ 8.jpg),
  linear-gradient(
    rgb(255 255 255 / 0), 
    rgb(255 255 255 / .7)
  );
background-size: cover;
background-position: center;

background-blend-mode: screen;
}

li:nth-of-type(7) {
  grid-column-start: 1;
  grid-column-end:2;
  grid-row-start: 4;
  grid-row-end: 5;

  background-image: 
  url(../images/kamer\ 6.jpg),
  linear-gradient(
    rgb(255 255 255 / 0), 
    rgb(255 255 255 / .7)
  );
  background-size: cover;
  background-position: center;
  
  background-blend-mode: screen;


}

li:nth-of-type(8) {
  grid-column-start: 3;
  grid-column-end:4;
  grid-row-start: 1;
  grid-row-end: 3;

  background-image: 
  url(../images/kamer\ 9.jpeg),
  linear-gradient(
    rgb(255 255 255 / 0), 
    rgb(255 255 255 / .7)
  );
  background-size: cover;
  background-position: center;
  
  background-blend-mode: screen;
}