/*************/
/* CSS RESET */
/*************/

@font-face {
  font-family: 'Barbie';
  src: url('../font/barbie\ font.woff') format('woff2'),
       url('../font/barbie.ttf') format('woff'); 
  font-weight: normal;
  font-style: normal;

}

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin:0;
}


button:not([disabled]) {
  cursor:pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson;
}





/********************/
/* ALGEMENE STYLING */
/********************/


body {
  font-family: 'Barbie', sans-serif, Arial;
  width: 100vw;
  height: 100vh;
  background-color:#FF86DB;
  background-size: cover;
  
  background-image: repeating-linear-gradient(to right, pink 0% 3%, #F9629F 3% 6%);
  perspective: 30em;

  overflow: hidden;
}


body::before {
  content:"";
  position: fixed;
  inset:60% 0 0 0;

  background-image: repeating-linear-gradient(to right, pink 0% 3%, #F9629F 3% 6%);
  transform-origin: top;
  transform: rotateX(75deg);
} 

header {
  text-align: center;
}

header img {
  width: 10%;
  height: 10%;
}

h1 {
  color:white;
  text-align: center;
  font-size:1.2;
}

p {
  text-align: center;
}


 

main {
  position: relative;
  z-index: 100;
  
} 



.barbie:hover {
  filter: brightness(110%);
}
.barbie {
  transition: filter 0.3s ease-in-out;
}

.barbie:hover {
  filter: brightness(150%);
  z-index: 2;
}



 /* Code door Daniëlle geschreven */
.barbie {
  position: fixed;
  width: 6em;
  height: 6em;
  padding: 0;
  margin: 0;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -70%);
  z-index: 1;
}


.barbie-car {
  transform: scaleX(-1);
  position: absolute;
  top: 25em;
  left: 0;
  height: 18em;
  width: 17em;
  animation: carAnimation 11s ease-in-out infinite;
}

.container {
  position: relative;
}

@keyframes carAnimation {
  0% {
    right: 0;
  }
  100% {
    right: 100%;
  }
}


@keyframes carAnimation {
  0% {
    left: 0;
  }
  100% {
    left: 100%; /* Pas deze waarde aan om de eindpositie van de auto aan te passen */
  }
}


ol {
  list-style: none;
  padding: 0;
  margin:0;
  display:grid;
  grid-template-columns:6em 8em 8em 6em;
  grid-template-rows: 3.5em 4em 1.5em 6em;
  gap:.5em;
  background-image: url("../images/barbie-huis.svg");
  background-size: cover;
  width: 30.5em;
  height: 22.12611em;
  padding: .5em;
  place-content: end;
  margin:0 auto;
  
  position: fixed;
  left:50%;
  top:50%;
  translate: -50% -50%;

  background-color: inherit;
}



ol > li {
  /* background-color: pink; */
    /* de li als grid ouder van de img */
    display:grid;
    justify-items: center;
    align-items:end;
    padding:.25em;
}


ol > li::after {
  /* content: "Klik op een Barbie om te zien hoe ik ben veranderd door de jaren heen!"; /* voeg hier de gewenste tekst toe */
  /* position: absolute; */
  /* bottom: 30%; plaats de praatwolk boven de li */
  /* left: 75%; plaats de praatwolk in het midden van de li */
  /* transform: translateX(-50%); centreer de praatwolk horizontaal */
  /* background-color: white; achtergrondkleur van de praatwolk */
  /* color:black; tekstkleur van de praatwolk */
  /* padding: 0.5em; voeg wat ruimte rondom de tekst toe */
  /* border-radius: 0.5em; ronde hoeken voor de praatwolk */
  /* font-size: 0.5; */
  /* z-index: 999; zet de z-index naar een hoog getal om de praatwolk naar de voorgrond te verplaatsen */ */
}






ol > li:nth-of-type(1) {
  /* de li als grid kind van de ol */
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
  
  background-image:
    url("../images/kamer\ 2.webp"),
    linear-gradient(
      rgb(255 255 255 / 0), 
      rgb(255 255 255 / .7)
    );
  background-size: cover;
  background-position: center;

  background-blend-mode: screen;
  background-color: inherit;
  
  
}

ol > li > button {
  appearance:none; 
  /* weg met de standaardstyling, ik bepaalf zelf wel hoe die eruit ziet. */
  background-color: transparent;
  border:none;
  outline: none;
  transition: .3s;
}


ol > li button img {
  height: 4em;
  filter: drop-shadow(0 0 .25em black);
}

ol > li > button:focus img {
  filter: drop-shadow(0 0 .25em dodgerblue) drop-shadow(0 0 .25em deeppink) drop-shadow(0 0 .25em rgb(255, 0, 0));
}

ol > li > button img:hover {
  filter: brightness(110%);
}

ol > li > button:active {
  scale:1.1;
} 

ol > li:nth-of-type(2) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;

  background-image: 
  url("../images/kamer\ barbie\ huis.webp"),
  linear-gradient(
    rgb(255 255 255 / 0), 
    rgb(255 255 255 / .7)
  );
  
  background-size: cover;
  background-position: center;

  background-blend-mode:screen; 
}

ol > li:nth-of-type(3) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;

  background-image: 
  url("../images/kamer\ 3.jpg"),
  linear-gradient(
    rgb(255 255 255 / 0), 
    rgb(255 255 255 / .7)
  );
  background-size: cover;
  background-position: center;

  background-blend-mode: screen;
}

ol > li:nth-of-type(4) {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;

  background-image: 
url("../images/kamer\ 10.jpg"),
linear-gradient(
  rgb(255 255 255 / 0), 
  rgb(255 255 255 / .7)
);
background-size: cover;
background-position: center;

background-blend-mode: screen;

}

ol > li:nth-of-type(5) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;

  background-image: 
  url(../images/kamer\ 7.jpg),
  linear-gradient(
    rgb(255 255 255 / 0), 
    rgb(255 255 255 / .7)
  );
background-size: cover;
background-position: center;

background-blend-mode: screen;

}

ol > li:nth-of-type(6) {
  grid-column-start: 4;
  grid-column-end:5;
  grid-row-start: 2;
  grid-row-end: 4;

  background-image: 
  url(../images/kamer\ 8.jpg),
  linear-gradient(
    rgb(255 255 255 / 0), 
    rgb(255 255 255 / .7)
  );
background-size: cover;
background-position: center;

background-blend-mode: screen;
}

ol > li:nth-of-type(7) {
  grid-column-start: 1;
  grid-column-end:2;
  grid-row-start: 4;
  grid-row-end: 5;

  background-image: 
  url(../images/kamer\ 6.jpg),
  linear-gradient(
    rgb(255 255 255 / 0), 
    rgb(255 255 255 / .7)
  );
  background-size: cover;
  background-position: center;
  
  background-blend-mode: screen;


}

ol > li:nth-of-type(8) {
  grid-column-start: 3;
  grid-column-end:4;
  grid-row-start: 1;
  grid-row-end: 3;

  background-image: 
  url(../images/kamer\ 9.jpeg),
  linear-gradient(
    rgb(255 255 255 / 0), 
    rgb(255 255 255 / .7)
  );
  background-size: cover;
  background-position: center;
  
  background-blend-mode: screen;
}

/* DIALOG */

dialog {
  width:min(70vw, 40em);
  height:70vh;
  padding:0;
  background-color: pink;
}

dialog form {
  height:100%;
  /* background-color: pink; */
  /* display: flow-root;  */
  display:grid;
  grid-template-columns: 10em 1fr;
}


dialog form menu {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  margin:0;
}

dialog form menu li {
color: #F9629F;
}

menu {
  display: flex; /* maak een flex-container */
  flex-direction: column;
  /* flex-wrap: wrap;  */
  /* zorg ervoor dat items omvouwen wanneer de container te klein wordt */
  list-style: none; /* verwijder de standaard opsommingstekens */
  padding: 1em; /* verwijder de standaard opvulling */
}

menu li {
  flex-grow:1;
  /* flex: 1 0 100px;  */
  /* maak de items flexibel, met een initiële breedte van 100px */
  margin: 5px; /* voeg een kleine marge tussen de items toe */
}

menu li button {
  font-family: 'Barbie', sans-serif, Arial;
  display: block; /* maak de knoppen blok-elementen */
  width: 100%; 
  /* laat de knoppen de volledige breedte van het item innemen */
  height: 100%; /* laat de knoppen de volledige hoogte van het item innemen */
  /* padding: 1em;  */
  /* voeg een beetje opvulling toe om de knoppen er wat mooier uit te laten zien */
  background-color:#F9629F; /* voeg een achtergrondkleur toe aan de knoppen */
  border: none; /* verwijder de standaard randen van de knoppen */
  border-radius: 1em; /* voeg afgeronde hoeken toe aan de knoppen */
  cursor: pointer; /* verander de muiscursor in een handje als eroverheen wordt gehoverd */
  transition: background-color 0.3s ease; /* voeg een vloeiende overgang toe bij het wijzigen van de achtergrondkleur */
  appearance: none;
}

menu li button:hover {
  background-color:#FF86DB; /* verander de achtergrondkleur van de knoppen bij hover */
}


dialog form div {
  /* display: flex; */
  /* justify-content: center; Horizontaal centreren */
  /* align-items: center; Verticaal centreren */
  /* flex-direction: column; Stapel de elementen op elkaar */
  /* height: 25vh; */
  /* Optioneel: stel de hoogte van de container in */
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;

  /* grid voor de div */
  display: grid;
  grid-template-columns: 1fr minmax(20em, 2fr);
  column-gap: 1em;
  align-self: stretch;
  padding:1em;
}

ol > li dialog div section {
align-self: center;
gap:1em;
display:grid;
}

ol > li dialog div h2 {
  /* grid-column-start: 2;
  grid-column-end: 3; 
  grid-row-start: 1;
  grid-row-end: 2; */
  margin:0;
  /* align-self: end; */
  text-align: center;
}

ol > li dialog div p {
  /* grid-column-start: 2;
  grid-column-end: 3; 
  grid-row-start: 2;
  grid-row-end: 3; */
  margin:0;
}

ol > li dialog img:nth-of-type(1) {
  display:block;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  width:min(100%, 12em);
  align-self: center;
}

ol > li dialog img:nth-of-type(2) {
  display:block;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2 ;
  width:min(100%, 12em);
  align-self: center;
}


ol > li dialog form > button {
  grid-column-start: 2;
  grid-column-end: 3; 
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: end;  
  align-self:start;
  color: #F9629F;
  background-color: pink;
}