/*************/
/* CSS RESET */
/*************/

@font-face {
  font-family: 'Barbie';
  src: url('../font/barbie\ font.woff') format('woff2'),
       url('../font/barbie.ttf') format('woff'); 
  font-weight: normal;
  font-style: normal;

}

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin:0;
}


button:not([disabled]) {
  cursor:pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson;
}





/********************/
/* ALGEMENE STYLING */
/********************/


body {
  font-family: 'Barbie', sans-serif, Arial;
  width: 100vw;
  height: 100vh;
  background-color:#FF86DB;
  /* background-image: url("../images/images\ 2.jpeg");  */
  background-size: cover;
  
  background-image: repeating-linear-gradient(to right, pink 0% 3%, #F9629F 3% 6%);
  
  /* andere achtergrond-eigenschappen */
  perspective: 30em;

  overflow: hidden;
}


body::before {
  content:"";
  position: fixed;
  inset:60% 0 0 0;

  background-image: repeating-linear-gradient(to right, pink 0% 3%, #F9629F 3% 6%);
  transform-origin: top;
  transform: rotateX(30deg);
} 

header {
  text-align: center;
}

header img {
  width: 10%;
  height: 10%;
}

h1 {
  color:white;
  text-align: center;
  font-size:1.2;
}

p {
  text-align: center;
}


 

main {
  position: relative;
  z-index: 100;
  
} 



.barbie:hover {
  filter: brightness(110%);
}
.barbie {
  transition: filter 0.3s ease-in-out;
}

.barbie:hover {
  filter: brightness(150%);
  z-index: 2;
}



 /* Code door Daniëlle geschreven */
.barbie {
  position: fixed;
  width: 6em;
  height: 6em;
  padding: 0;
  margin: 0;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -70%);
  z-index: 1;
}



.barbie-car {
  transform: scaleX(-1);
  position: absolute;
  top: 30em;
  left: 0;
  height: 10em;
  width: 12em;
  /* Andere gewenste stijlregels */
  animation: carAnimation 11s ease-in-out infinite;
}

.container {
  position: relative;
}

@keyframes carAnimation {
  0% {
    right: 0;
  }
  100% {
    right: 100%;
  }
}


@keyframes carAnimation {
  0% {
    left: 0;
  }
  100% {
    left: 100%; /* Pas deze waarde aan om de eindpositie van de auto aan te passen */
  }
}


ol {
  list-style: none;
  padding: 0;
  margin:0;
  display:grid;
  grid-template-columns:6em 8em 8em 6em;
  grid-template-rows: 3.5em 4em 1.5em 6em;
  gap:.5em;
  background-image: url("../images/barbie-huis.svg");
  background-size: cover;
  width: 30.5em;
  height: 22.12611em;
  padding: .5em;
  place-content: end;
  margin:0 auto;
  
  position: fixed;
  left:50%;
  top:50%;
  translate: -50% -50%;

  background-color: inherit;
}




/* Maak de container een flex container */
div {
  display: flex;
  justify-content: center; /* Horizontaal centreren */
  align-items: center; /* Verticaal centreren */
  flex-direction: column; /* Stapel de elementen op elkaar */
  height: 25vh; /* Optioneel: stel de hoogte van de container in */
}




li {
  /* background-color: pink; */
    /* de li als grid ouder van de img */
    display:grid;
    justify-items: center;
    align-items:end;
    padding:.25em;
}


li::after {
  content: "Klik op een Barbie om te zien hoe ik ben veranderd door de jaren heen!"; /* voeg hier de gewenste tekst toe */
  position: absolute;
  bottom: 30%; /* plaats de praatwolk boven de li */
  left: 75%; /* plaats de praatwolk in het midden van de li */
  transform: translateX(-50%); /* centreer de praatwolk horizontaal */
  background-color: white; /* achtergrondkleur van de praatwolk */
  color:black; /* tekstkleur van de praatwolk */
  padding: 0.5em; /* voeg wat ruimte rondom de tekst toe */
  border-radius: 0.5em; /* ronde hoeken voor de praatwolk */
  font-size: 0.5;
  z-index: 999; /* zet de z-index naar een hoog getal om de praatwolk naar de voorgrond te verplaatsen */
}



li :hover {
  filter: brightness(110%);
}


li:nth-of-type(1) {
  /* de li als grid kind van de ol */
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
  
  background-image:
    url("../images/kamer\ 2.webp"),
    linear-gradient(
      rgb(255 255 255 / 0), 
      rgb(255 255 255 / .7)
    );
  background-size: cover;
  background-position: center;

  background-blend-mode: screen;
  background-color: inherit;
  
  
}

li > button {
  appearance:none; 
  /* weg met de standaardstyling, ik bepaalf zelf wel hoe die eruit ziet. */
  background-color: transparent;
  border:none;
  outline: none;
  transition: .3s;
}


li img {
  height: 4em;
  filter: drop-shadow(0 0 .25em black);
}

li > button:focus img {
  filter: drop-shadow(0 0 .25em dodgerblue) drop-shadow(0 0 .25em deeppink) drop-shadow(0 0 .25em rgb(255, 0, 0));
}

li > button:active {
  scale:1.1;
} 

li:nth-of-type(2) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;

  background-image: 
  url("../images/kamer\ barbie\ huis.webp"),
  linear-gradient(
    rgb(255 255 255 / 0), 
    rgb(255 255 255 / .7)
  );
  
  background-size: cover;
  background-position: center;

  background-blend-mode:screen; 
}

li:nth-of-type(3) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;

  background-image: 
  url("../images/kamer\ 3.jpg"),
  linear-gradient(
    rgb(255 255 255 / 0), 
    rgb(255 255 255 / .7)
  );
  background-size: cover;
  background-position: center;

  background-blend-mode: screen;
}

li:nth-of-type(4) {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;

  background-image: 
url("../images/kamer\ 10.jpg"),
linear-gradient(
  rgb(255 255 255 / 0), 
  rgb(255 255 255 / .7)
);
background-size: cover;
background-position: center;

background-blend-mode: screen;

}

li:nth-of-type(5) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;

  background-image: 
  url(../images/kamer\ 7.jpg),
  linear-gradient(
    rgb(255 255 255 / 0), 
    rgb(255 255 255 / .7)
  );
background-size: cover;
background-position: center;

background-blend-mode: screen;

}

li:nth-of-type(6) {
  grid-column-start: 4;
  grid-column-end:5;
  grid-row-start: 2;
  grid-row-end: 4;

  background-image: 
  url(../images/kamer\ 8.jpg),
  linear-gradient(
    rgb(255 255 255 / 0), 
    rgb(255 255 255 / .7)
  );
background-size: cover;
background-position: center;

background-blend-mode: screen;
}

li:nth-of-type(7) {
  grid-column-start: 1;
  grid-column-end:2;
  grid-row-start: 4;
  grid-row-end: 5;

  background-image: 
  url(../images/kamer\ 6.jpg),
  linear-gradient(
    rgb(255 255 255 / 0), 
    rgb(255 255 255 / .7)
  );
  background-size: cover;
  background-position: center;
  
  background-blend-mode: screen;


}

li:nth-of-type(8) {
  grid-column-start: 3;
  grid-column-end:4;
  grid-row-start: 1;
  grid-row-end: 3;

  background-image: 
  url(../images/kamer\ 9.jpeg),
  linear-gradient(
    rgb(255 255 255 / 0), 
    rgb(255 255 255 / .7)
  );
  background-size: cover;
  background-position: center;
  
  background-blend-mode: screen;
}




li dialog {
  width:calc(70vw - 2em);
  height:calc(70vh - 2em);
  padding:7em;
  background-color: pink;
}

li dialog form {
  height:100%;
  background-color: pink;
  display: flow-root;
}

<style>
	ol {
		padding: 0;
		list-style-type: none;
	}

	ol li {
		text-align: center;
	}

	ol li img {
		display: block;
		margin: 0 auto;
	}
</style>